.container{
    /* background: black; */
    background-image: url('https://fondosmil.com/fondo/10829.jpg');
    background-size: cover;
    overflow: hidden;
    border-radius: 1rem;
    /* margin: 50% 0 0 0; */
    padding-inline: 50px;
    height: 360px; 
    /* position: relative; */
}
/* 
.container::after{
    content: '';
    overflow: hidden;
    position: absolute;
    top: 200px;
    width: 170%;
    height: 16%;
    background: linear-gradient(180deg, rgb(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 100% );
} */

.wrapper{
    display: flex;
    height: 50%;
    width: 80%;
    margin: 0 auto;
    perspective: 150px;
}

.scrollText{
    color: #f3e21b;
    font-size: 2vw;
    line-height: 1.5em;
    font-weight: bold;
    text-align: justify;
    position: relative;
    animation: scroll 220s linear forwards;
    /* transform: translateZ(-2500px) rotateX(20deg); */
}

.h1, .h2{
    text-align: center;
}

@keyframes scroll{
    from { top:100%; transform: translateZ(0) rotateX(20deg)}
    to {top: -7500px; transform: translateZ(-2500px) rotateX(21deg)}
}